<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>BIG DREAM11</title>
    <link href="/css/promotion/app.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_1.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_2.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_3.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_4.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_5.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_6.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        #nav_checkUrl {
            left: 35vw;
        }
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-7c8bbbf4="" class="mian">
            <div data-v-106b99c8="" data-v-7c8bbbf4="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Tutorial </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/promotion/bonusrecord'">
                    <div data-v-7c8bbbf4="" data-v-106b99c8="" class="c-row">
                        <i class="fa-duotone fa-calendar-lines fa-fade fa-lg"
                            style="--fa-primary-color: #fff; --fa-secondary-color: #fff;"></i>
                    </div>
                </div>
            </div>
            <div data-v-7c8bbbf4="" class="promotion">
                <div data-v-7c8bbbf4="" class="tab">
                    <ul data-v-7c8bbbf4="" class="c-row c-row-between">
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion'">Data</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/myTeam'">My Team</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/promotionDes'">History</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/tutorial'" class="action block-click">
                            Tutorial</li>
                    </ul>
                </div>
                <div data-v-7c8bbbf4="" class="tit c-row c-row-between">Referral Condition For Level Commission</div>
                <div data-v-7c8bbbf4="" class="table">
                    <div data-v-7c8bbbf4="" class="hd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Total Levels</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Referrals</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Commission</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Recharge</div>
                    </div>

                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 1</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">2</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">600</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 2</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">5</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1500</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 3</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">8</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">2400</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 4</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">11</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">3300</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 5</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">14</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">4200</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 6</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">17</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">5100</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 7</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">20</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">6000</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 8</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">23</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">6900</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 9</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">26</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">7800</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 10</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">29</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">8700</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 11</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">32</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">9600</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 12</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">35</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">10500</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 13</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">38</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">11400</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 14</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">41</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">12300</div>
                    </div>
                    <div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Level 15</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">44</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">13200</div>
                    </div>
                </div>
                     <div data-v-7c8bbbf4="" class="tit c-row c-row-between m-t-15">Commission Calculation Method</div>
                    <div data-v-7c8bbbf4="" class="table">
                        <div data-v-7c8bbbf4="" class="box" style="width: 420px;">
                            <div data-v-7c8bbbf4="" class="hd dl van-row">
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">
                                    Hierarchy<p data-v-7c8bbbf4="" class="txt">Rebate Ratio</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    Tier 1<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    Tier 2<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    Tier 3<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    Tier 4<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                            </div> 
            </div>
        </div>
    </div>
    </div>
    <!---->
    <%- include('../nav') -%>
        </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/client.js"></script>
        <script>
            $('.nav .van-tabbar-item:eq(0) img').attr('src', '/images/home1.png');
            $('.nav .van-tabbar-item:eq(0) .name').removeClass('action');
            $('.nav .van-tabbar-item:eq(2) .name').addClass('action');
            function RosesRender(datas) {
                let html = datas.map((e) => {
                    let html = '';
                    return html += `<div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Lvl  ${e.level}</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f1}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f2}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f3}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f4}%</div>
                    </div>`;
                });
                $('.table:eq(1) .box').append(html);

                $('.table:eq(1) .box').append(`
                <div data-v-7c8bbbf4="" class="bd van-row">
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--6">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                </div>
                `);
            }
            $.ajax({
                type: "POST",
                url: "/api/webapi/promotion",
                data: {

                },
                dataType: "json",
                success: function (response) {
                    if (response.status === false) return location.href = '/home';
                    RosesRender(response.level);
                    console.log(response.info.code);
                    $('.btn-box .btn:eq(0)').attr('data-clipboard-text', response.info[0].code);
                    $('.btn-box .btn:eq(1)').attr('data-clipboard-text', window.location.hostname + `/register?r_code=${response.info[0].code}`);
                }
            });
        </script>
</body>

</html>