<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>BIG DREAM11</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        #image_box {
            width: 100%;
            gap: 0.28rem;
        }

        #image_box .images_21 {
            width: 25%;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: stretch;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            gap: 0.13333rem;
        }

        #image_box .images_21 img {
            width: 1rem;
            margin-left: 1.5vw;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #image_box .images_21 p {
            text-align: center;
            color: grey;
            font-weight: 600;
            font-family: math;
        }

        @media (max-width:600px) {
            #image_box .images_21 img {
                width: 1rem;
                margin-left: 5vw;
                box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
                border-radius: 0.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-7b283485="" class="mian">
            <div data-v-106b99c8="" data-v-7b283485="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Wallet </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-7b283485="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-7b283485="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                        </i>
                    </div>
                </div>
            </div>
            <div data-v-7b283485="" class="wallet">
                <div data-v-7b283485="" class="wallet-user c-tc">
                    <div data-v-7b283485="" class="c-row c-row-center img">
                        <div data-v-7b283485="" class="van-image" border-radius="60px"
                            style="width: 60px; height: 60px;">
                            <img src="/images/wallets-f7d6f3d6.png" class="van-image__img">
                        </div>
                    </div>
                    <!--<div data-v-7b283485="" class="name"></div>-->
                    <div data-v-7b283485="" class="title" style="color: #8f5206">Total Balance</div>
                </div>
                <div data-v-7b283485="" class="wallet-box">
                    <div data-v-7b283485="" class="box">
                        <div data-v-7b283485="" class="icon1"></div>
                        <!--<div data-v-7b283485="" class="title">Wallet</div>-->
                        <div data-v-7b283485="" class="balance m-t-10">
                            <!--<div data-v-7b283485="" class="txt c-row c-row-middle">
                                <img data-v-7b283485="" width="22px" height="18px" src="/images/king (2).png"
                                    class="m-r-5 img"> My balance：
                            </div>-->
                            <div data-v-7b283485="" class="c-row balanceMoney c-row-middle-center">
                                <div data-v-7b283485="" class="money">
                                    <!---->
                                    <div data-v-7b283485="">₹<span data-v-7b283485="" class="p-l-10">Loading...</span>
                                    </div>
                                </div>
                                <div data-v-7b283485="" id="reload">
                                    <div data-v-7b283485="" class="van-image img m-l-15"
                                        style="width: 25px; height: 25px;">
                                        <img src="/images/reload.png" class="van-image__img">
                                    </div>
                                </div>
                            </div>
                            <div data-v-7b283485="" class="info c-row">
                                <div data-v-7b283485="" class="item">
                                    <div data-v-7b283485="">Total Recharge</div>
                                    <!---->
                                    <div data-v-7b283485="">₹ 0.00</div>
                                </div>
                                <div data-v-7b283485="" class="item">
                                    <div data-v-7b283485="">Total Withdrawal</div>
                                    <!---->
                                    <div data-v-7b283485="">₹ 0.00</div>
                                </div>
                            </div>
                        </div>
                        <div data-v-7b283485="" class="c-row c-row-between total-btn m-t-30">
                            <div data-v-7b283485="" class="item c-row c-row-center"
                                onclick="location.href='/wallet/transfer'">
                                <div data-v-7b283485="" class="li"> MAIN WALLET TRANSFER </div>
                            </div>
                        </div>
                        <div data-v-7b283485="" class="c-row c-row-between total-btn m-t-30" id="image_box">
                            <div class="images_21" onclick="location.href='/wallet/recharge'">
                                <img src="/images/recharge.png">
                                <p>Recharge</p>
                            </div>
                            <div class="images_21" onclick="location.href='/wallet/withdrawal'">
                                <img src="/images/withdraw.png">
                                <p>Withdraw</p>
                            </div>
                            <div class="images_21" onclick="location.href='/wallet/rechargerecord'">
                                <img src="/images/rechargeHistory.png">
                                <p>Recharge History</p>
                            </div>
                            <div class="images_21" onclick="location.href='/wallet/withdrawalrecord'">
                                <img src="/images/withdrawHistory.png">
                                <p>Withdraw History</p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <%- include('../nav') -%>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>

        $('#reload .van-image').click(function (e) {
            e.preventDefault();
            $(this).addClass('action block-click');
            setTimeout(() => {
                $(this).removeClass('action block-click');
            }, 2500);
            $.ajax({
                type: "GET",
                url: "/api/webapi/GetUserInfo",
                dataType: "json",
                success: function (response) {
                    let user = response.data;
                    $('.wallet-user .name').text(user.name_user);
                    $('.money').text("₹" + user.money_user + ".00");
                }
            });
        });
        $.ajax({
            type: "GET",
            url: "/api/webapi/GetUserInfo",
            dataType: "json",
            success: function (response) {
                let user = response.data;
                $('.wallet-user .name').text(user.name_user);
                $('.money').text("₹" + user.money_user + ".00");
                $('.balance .item:eq(0) div:eq(1)').text("₹" + response.totalRecharge + ".00");
                $('.balance .item:eq(1) div:eq(1)').text("₹" + response.totalWithdraw + ".00");
            }
        });
    </script>
</body>

</html>