<!DOCTYPE html>
<html lang="en" class="overflow-y-hidden">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="noindex,nofollow" />
        <meta
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
            name="viewport" />
            <title>4RABET Official Online Website #1 - Sports Betting &amp; Casino
                in India [Login &amp; Registration]</title>
                
     >
        <link rel="stylesheet" href="/css/home/new.css">

        <link rel="shortcut icon" href="/images/bitbug_favicon.ico"
            type="image/x-icon" />
            
        <style>
        .msg-content {
            animation: zoom-in 0.45s ease reverse;
        }

        @keyframes zoom-in {
            0% {
                opacity: 1;
                transform: scale(1, 1);
            }

            50% {
                transform: scale(0.6, 0.6);
            }

            100% {
                opacity: 0;
                transform: scale(1, 1);
            }
        }
    </style>
    <div id="__nuxt">
    <div class="v-main__wrap"><!---->
        <div
            style="visibility:hidden;position:absolute;"
            data-v-5a50fae7>
            <img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/HI.svg"
                width="1"
                height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/BN.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/BIF.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/BR.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/CD.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/GH.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/KE.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/LK.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/MM.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/MZ.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/NP.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/PH.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/RWF.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/TZ.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/UG.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/CM.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/BF.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/ZA.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"><img
                data-v-5a50fae7
                src="https://ifrd.4rabet4.com/img/svgflags/ZM.svg"
                width="1" height="1"
                style="visibility: hidden; position: absolute;"></div>
            </div>
        </div>
    </head>

    <body style="font-size: 12px">
        <div id="app" data-v-app>
            <div data-v-a0753f48 class="mian login">
                <!-- <div data-v-4b845b3c class="login__container-form">
                    <div data-v-4b845b3c class="tab-content activecontent">
                        <div data-v-19b20cdb data-v-4b845b3c
                            class="signIn__container">

                            <div data-v-5f6a9e3a data-v-19b20cdb
                                class="phoneInput__container">
                                <div data-v-5f6a9e3a
                                    class="phoneInput__container-input">
                                   <input data-v-5f6a9e3a type="text"
                                    name="userNumber"
                                    placeholder="Enter Your Mobile No.">
                                </div>
                            </div>

                            <div data-v-34ec8998 data-v-19b20cdb
                                class="passwordInput__container">
                                <div data-v-34ec8998
                                    class="passwordInput__container-input">
                                    <input data-v-34ec8998 type="password"
                                        id="passwordInput"
                                        placeholder="Please enter Password"
                                        maxlength="32"
                                        autocomplete="new-password">
                                    <img
                                        src="https://ik.imagekit.io/9avg952um/dd/imaggge/eyeInvisible-821d9d16.png"
                                        class="eye" id="togglePassword">
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div> -->
                <div data-v-7a846df6 class="dialog-wrapper">
                    <div data-v-23332eac data-v-7a846df6
                        class="auth auth-wrap">
                        <div data-v-706a46a8 data-v-23332eac
                            class="v-dialog__container v-dialog__container--attached"
                            isuseclosebtn="true"
                            closebtnid="login-x-btn">
                            <div role="dialog" aria-modal="true"
                                data-v-706a46a8
                                class="v-dialog__content v-dialog__content--active"
                                style="z-index: 202;">
                                <div tabindex="0"
                                    class="v-dialog auth-dialog v-dialog--active v-dialog--persistent v-dialog--scrollable"
                                    style="transform-origin: center center; width: 906px;">
                                    <div data-v-706a46a8
                                        class="v-card v-sheet theme--dark">
                                        <div data-v-706a46a8
                                            class="v-card__title">
                                            <div data-v-706a46a8
                                                class="close-btn d-flex justify-end"><i
                                                    data-v-706a46a8
                                                    aria-hidden="true"
                                                    id="login-x-btn"
                                                    class="v-icon notranslate mdi mdi-close theme--dark"
                                                    style="font-size: 16px;" onclick="location.href='/home'"></i></div>
                                            <div data-v-23332eac
                                                class="d-flex justify-center modal__title title">
                                                Login
                                            </div>
                                        </div>
                                        <div data-v-706a46a8
                                            class="v-card__text">
                                            <form data-v-23332eac
                                                novalidate="novalidate"
                                                id="authForm"
                                                class="v-form">
                                                <div data-v-60fad840
                                                    data-v-23332eac
                                                    class="container container__forms">
                                                    <div data-v-60fad840
                                                        class="row"
                                                        style="display: flex;">
                                                        <button
                                                            data-v-60fad840
                                                            type="button"
                                                            class="forms__btn v-btn v-btn--is-elevated v-btn--has-bg theme--dark v-size--default btn"
                                                            id="login-email-tab"
                                                            onclick="toggleLoginMethod('email')"><span
                                                                class="v-btn__content">
                                                                <div
                                                                    data-v-60fad840
                                                                    class="d-flex"><img
                                                                        data-v-60fad840
                                                                        src="https://ifrd.4rabet4.com/img/svg/mail.svg"
                                                                        width="30"
                                                                        alt="image mail"
                                                                        title="image mail"
                                                                        class="btn__icon mr-3">
                                                                </div>
                                                                <div
                                                                    data-v-60fad840
                                                                    class="btn__text">
                                                                    Email
                                                                </div>
                                                                <div
                                                                    data-v-60fad840
                                                                    id="login-email-tab-text"
                                                                    class="content-overlay"></div>
                                                            </span>
                                                        </button>
                                                        <div
                                                            data-v-60fad840
                                                            class="spacer"></div>
                                                        <button
                                                            data-v-60fad840
                                                            type="button"
                                                            class="forms__btn v-btn v-btn--is-elevated v-btn--has-bg theme--dark v-size--default btn is-active"
                                                            id="login-phone-tab"
                                                            onclick="toggleLoginMethod('phone')"><span
                                                                class="v-btn__content">
                                                                <div
                                                                    data-v-60fad840
                                                                    class="d-flex"><img
                                                                        data-v-60fad840
                                                                        src="https://ifrd.4rabet4.com/img/svg/phone.svg"
                                                                        width="30"
                                                                        height="28"
                                                                        alt="image phone"
                                                                        title="image phone"
                                                                        class="btn__icon mr-2">
                                                                </div>
                                                                <div
                                                                    data-v-60fad840
                                                                    class="btn__text">
                                                                    Phone
                                                                </div>
                                                                <div
                                                                    data-v-60fad840
                                                                    id="login-phone-tab-text"
                                                                    class="content-overlay"></div>
                                                            </span>
                                                        </button>
                                                    </div>

                                                    <div data-v-60fad840
                                                        class="row"><!---->
                                                        <div
                                                            data-v-60fad840
                                                            class="pb-0 px-0 col col-12">
                                                            <div
                                                                data-v-61afd4ef
                                                                data-v-60fad840
                                                                class="input auth__login light"
                                                                id="login-email-form"
                                                                error-messages
                                                                style="
                                                            min-width: 100%;display: none;">
                                                                <div
                                                                    data-v-61afd4ef
                                                                    class="v-input theme--dark v-text-field v-text-field--is-booted v-text-field--placeholder">
                                                                    <div
                                                                        class="v-input__control">
                                                                        <div
                                                                            class="v-input__slot"
                                                                            style="height: 42px; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);">
                                                                            <div
                                                                                class="v-text-field__slot">
                                                                                <!-- <input
                                                                                    autocomplete
                                                                                    classname="light"
                                                                                    autocompleteoff
                                                                                    name="authlogin"
                                                                                    errormessage
                                                                                    tabindex="1"
                                                                                    innerinputid="login-email-input"
                                                                                    id="login-email-input"
                                                                                    placeholder="Email"
                                                                                    type> -->
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="v-text-field__details">
                                                                            <div
                                                                                class="v-messages theme--dark">
                                                                                <div
                                                                                    class="v-messages__wrapper">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!---->
                                                        </div>
                                                        <div
                                                            data-v-60fad840
                                                            class="col col-12"
                                                            id="login-phone-form">

                                                            <div
                                                                data-v-60fad840
                                                                class="row auth__phone mt-0">
                                                                <div
                                                                    data-v-19c9a1c7
                                                                    data-v-60fad840
                                                                    class="vue-phone-number-input flex v-input dark"
                                                                    name="authphone"
                                                                    autocomplete="off">
                                                                    <div
                                                                        data-v-19c9a1c7
                                                                        class="input select-country-container">
                                                                        <div
                                                                            data-v-46e105de
                                                                            data-v-19c9a1c7
                                                                            class="country-selector input-country-selector has-value is-dark">
                                                                            <div
                                                                                data-v-46e105de
                                                                                class="country-selector__country-flag">
                                                                                <div
                                                                                    data-v-46e105de
                                                                                    class="iti-flag-small iti-flag in">
                                                                                </div>
                                                                            </div>
                                                                            <input
                                                                                data-v-46e105de
                                                                                id="login-phone-input-431_country_selector"
                                                                                placeholder="Country code"
                                                                                readonly
                                                                                value="+91 (India)"
                                                                                class="country-selector__input"
                                                                                style="border-top-left-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(66, 66, 66); border-color: rgb(179, 179, 179);"
                                                                                onclick="toggleCountrySelector()" />
                                                                            <div
                                                                                data-v-46e105de
                                                                                class="country-selector__toggle"
                                                                                onclick="toggleCountrySelector()">
                                                                                <svg
                                                                                    data-v-46e105de
                                                                                    mlns="http://www.w3.org/2000/svg"
                                                                                    width="24"
                                                                                    height="24"
                                                                                    viewBox="0 0 24 24"
                                                                                    class="country-selector__toggle__arrow">
                                                                                    <path
                                                                                        data-v-46e105de
                                                                                        d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
                                                                                        class="arrow"></path>
                                                                                    <path
                                                                                        data-v-46e105de
                                                                                        fill="none"
                                                                                        d="M0 0h24v24H0V0z"></path>
                                                                                </svg>
                                                                            </div>
                                                                            <label
                                                                                data-v-46e105de
                                                                                class="country-selector__label"
                                                                                style="color: rgba(255, 255, 255, 0.7);">
                                                                                Country
                                                                                code
                                                                            </label>
                                                                            <div
                                                                                data-v-46e105de
                                                                                class="country-selector__list"
                                                                                style="border-radius: 4px; height: 217px; max-height: 217px; background-color: rgb(66, 66, 66); display: none;">
                                                                                <div
                                                                                    data-v-46e105de
                                                                                    class="vue-recycle-scroller ready direction-vertical">
                                                                                    <!---->
                                                                                    <div
                                                                                        class="vue-recycle-scroller__item-wrapper"
                                                                                        style="min-height: 18px;">
                                                                                        <div
                                                                                            class=" vue-recycle-scroller__item-view country-selector__list__item"
                                                                                            onclick="selectCountry('+91', 'India')"
                                                                                            style="transform: translateY(0px);">
                                                                                            <button
                                                                                                data-v-46e105de
                                                                                                tabindex="-1"
                                                                                                type="button"
                                                                                                class="flex align-center country-selector__list__item selected"
                                                                                                style="height: 30px; background-color: rgb(179, 179, 179);">
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="country-selector__list__item__flag-container">
                                                                                                    <div
                                                                                                        data-v-46e105de
                                                                                                        class="iti-flag-small iti-flag in">
                                                                                                    </div>
                                                                                                </div><!---->
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="dots-text">
                                                                                                    India
                                                                                                    (भारत)
                                                                                                </div>
                                                                                            </button>
                                                                                        </div>

                                                                                        <div
                                                                                            class=" vue-recycle-scroller__item-view country-selector__list__item"
                                                                                            onclick="selectCountry('+880', 'Bangladesh')"
                                                                                            style="transform: translateY(7px);">
                                                                                            <button
                                                                                                data-v-46e105de
                                                                                                tabindex="-1"
                                                                                                type="button"
                                                                                                class="flex align-center country-selector__list__item"
                                                                                                style="height: 30px;">
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="country-selector__list__item__flag-container">
                                                                                                    <div
                                                                                                        data-v-46e105de
                                                                                                        class="iti-flag-small iti-flag cm">
                                                                                                        
                                                                                                    </div>
                                                                                                </div><!---->
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="dots-text">
                                                                                                    Bangladesh
                                                                                                    (বাংলাদেশ)
                                                                                                </div>
                                                                                            </button>
                                                                                        </div>
                                                                                        <div
                                                                                            class=" vue-recycle-scroller__item-view country-selector__list__item"
                                                                                            onclick="selectCountry('+226', 'Burkina Faso')"
                                                                                            style="transform: translateY(8px);">
                                                                                            <button
                                                                                                data-v-46e105de
                                                                                                tabindex="-1"
                                                                                                type="button"
                                                                                                class="flex align-center country-selector__list__item"
                                                                                                style="height: 30px;">
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="country-selector__list__item__flag-container">
                                                                                                    <div
                                                                                                        data-v-46e105de
                                                                                                        class="iti-flag-small iti-flag bf">
                                                                                                    </div>
                                                                                                </div><!---->
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="dots-text">
                                                                                                    Burkina
                                                                                                    Faso
                                                                                                </div>
                                                                                            </button>
                                                                                        </div>
                                                                                        <div
                                                                                            class=" vue-recycle-scroller__item-view country-selector__list__item"
                                                                                            onclick="selectCountry('+254', ' Kenya')"
                                                                                            style="transform: translateY(9px);">
                                                                                            <button
                                                                                                data-v-46e105de
                                                                                                tabindex="-1"
                                                                                                type="button"
                                                                                                class="flex align-center country-selector__list__item"
                                                                                                style="height: 30px;">
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="country-selector__list__item__flag-container">
                                                                                                    <div
                                                                                                        data-v-46e105de
                                                                                                        class="iti-flag-small iti-flag ke">
                                                                                                    </div>
                                                                                                </div><!---->
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="dots-text">
                                                                                                    Kenya
                                                                                                </div>
                                                                                            </button>
                                                                                        </div>
                                                                                        <div
                                                                                            class=" vue-recycle-scroller__item-view country-selector__list__item"
                                                                                            onclick="selectCountry('+256', ' Uganda')"
                                                                                            style="transform: translateY(10px);">
                                                                                            <button
                                                                                                data-v-46e105de
                                                                                                tabindex="-1"
                                                                                                type="button"
                                                                                                class="flex align-center country-selector__list__item"
                                                                                                style="height: 30px;">
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="country-selector__list__item__flag-container">
                                                                                                    <div
                                                                                                        data-v-46e105de
                                                                                                        class="iti-flag-small iti-flag ug">
                                                                                                    </div>
                                                                                                </div><!---->
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="dots-text">
                                                                                                    Uganda
                                                                                                </div>
                                                                                            </button>
                                                                                        </div>
                                                                                        <div
                                                                                            class=" vue-recycle-scroller__item-view country-selector__list__item"
                                                                                            onclick="selectCountry('+255', ' Tanzania')"
                                                                                            style="transform: translateY(11px);">
                                                                                            <button
                                                                                                data-v-46e105de
                                                                                                tabindex="-1"
                                                                                                type="button"
                                                                                                class="flex align-center country-selector__list__item"
                                                                                                style="height: 30px;">
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="country-selector__list__item__flag-container">
                                                                                                    <div
                                                                                                        data-v-46e105de
                                                                                                        class="iti-flag-small iti-flag tz">
                                                                                                    </div>
                                                                                                </div><!---->
                                                                                                <div
                                                                                                    data-v-46e105de
                                                                                                    class="dots-text">
                                                                                                    Tanzania
                                                                                                </div>
                                                                                            </button>
                                                                                        </div>

                                                                                    </div>
                                                                                    <!---->
                                                                                    <div
                                                                                        data-v-b329ee4c
                                                                                        tabindex="-1"
                                                                                        class="resize-observer">
                                                                                        <object
                                                                                            aria-hidden="true"
                                                                                            tabindex="-1"
                                                                                            type="text/html"
                                                                                            data="about:blank"></object>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        data-v-19c9a1c7
                                                                        class="flex-1">
                                                                        <div
                                                                            data-v-e59be3b4
                                                                            data-v-19c9a1c7
                                                                            class="input-tel input-phone-number is-dark"
                                                                            name="username"
                                                                            autocomplete="off">
                                                                            <input
                                                                                data-v-e59be3b4
                                                                                id="phoneInput"
                                                                                placeholder="Phone number"
                                                                                type="text"
                                                                                name="username"
                                                                                maxlength="10"
                                                                                autocomplete="off"
                                                                                class="input-tel__input"
                                                                                style="border-top-right-radius: 4px; border-bottom-right-radius: 4px; caret-color: rgb(179, 179, 179); background-color: rgb(66, 66, 66); color: rgba(255, 255, 255, 0.7);"><label
                                                                                data-v-e59be3b4
                                                                                for="login-phone-input-431_phone_number"
                                                                                class="input-tel__label"
                                                                                style="color: rgba(255, 255, 255, 0.7);"
                                                                                oninput="handleInput(this)">
                                                                                Phone
                                                                                number
                                                                            </label><!----><!---->

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    data-v-60fad840
                                                                    class="error-phone"
                                                                    style="display: none;">
                                                                    Phone
                                                                    number
                                                                    must
                                                                    be
                                                                    valid
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div
                                                            data-v-60fad840
                                                            class="col col-12">

                                                            <div
                                                                data-v-60fad840
                                                                class="row">
                                                                <div
                                                                    data-v-a6b2f30e
                                                                    data-v-60fad840
                                                                    class="input-pwd auth__password"
                                                                    id="auth_pass_input"
                                                                    style="min-width: 100%;">
                                                                    <div
                                                                        data-v-61afd4ef
                                                                        data-v-a6b2f30e
                                                                        class="input auth__password">
                                                                        <div
                                                                            data-v-61afd4ef
                                                                            class="v-input theme--dark v-text-field v-text-field--is-booted v-text-field--placeholder">
                                                                            <div
                                                                                class="v-input__control">
                                                                                <div
                                                                                    class="v-input__slot"
                                                                                    style="height: 42px;">
                                                                                    <div
                                                                                        class="v-text-field__slot">
                                                                                        <input
                                                                                            type="password"
                                                                                            id="passwordInput"
                                                                                            placeholder="Please enter Password"
                                                                                            maxlength="32"
                                                                                            autocomplete="new-password">
                                                                                    </div>
                                                                                    <div
                                                                                        class="v-input__append-inner">
                                                                                        <i
                                                                                            data-v-a6b2f30e
                                                                                            aria-hidden="true"
                                                                                            class="v-icon notranslate password-toggle mdi mdi-eye-off"
                                                                                            id="password-toggle-icon"
                                                                                            onclick="togglePasswordVisibility()"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="v-text-field__details">
                                                                                    <div
                                                                                        class="v-messages theme--dark">
                                                                                        <div
                                                                                            class="v-messages__wrapper">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div> <!---->

                                                <div data-v-23332eac
                                                    class="row">
                                                    <div data-v-23332eac
                                                        class="pt-4 py-0 col col-12" style="display: flex;  flex-direction: row; justify-content: center; align-items: center;">
                                                        <div
                                                            data-v-23332eac
                                                            class="d-flex justify-center">
                                                            <div
                                                                data-v-23332eac
                                                                class="hint pr-1">Don’t
                                                                remember?</div>
                                                            <a
                                                                data-v-23332eac
                                                                id="login-recovery-btn"
                                                                tabindex="4"
                                                                class="link">
                                                                Recover
                                                                a
                                                                password
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-v-23332eac
                                                    class="footer__auth">
                                                    <div data-v-23332eac
                                                        class="row">
                                                        <div
                                                            data-v-23332eac
                                                            class="pb-4 pt-4 py-0 col">
                                                            <div
                                                                data-v-23332eac
                                                                class="align-center justify-center"
                                                                        style="display: flex;flex-direction: row;align-items: center; padding: 25px;">
                                                                <div
                                                                    data-v-23332eac
                                                                    class="hint pr-1">Don't
                                                                    have
                                                                    an
                                                                    account?</div>
                                                                <a
                                                                    data-v-23332eac
                                                                    id="login-sign-up-btn"
                                                                    tabindex="4"
                                                                    class="link text-center">
                                                                    Sign
                                                                    up
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-v-23332eac
                                                        id="login-captcha"
                                                        style="display: none;"></div>
                                                    <div data-v-23332eac
                                                        class="auth__actions d-flex justify-center pt-3">
                                                        <div
                                                            data-v-2af282b6
                                                            data-v-23332eac
                                                            class="button"
                                                            tabindex="5"><button
                                                                data-v-2af282b6
                                                                type="button"
                                                                class="v-btn v-btn--block v-btn--is-elevated v-btn--has-bg theme--dark v-size--x-large primary v-btn--xm"
                                                                classname="xm"
                                                                id="login-sign-in-btn"
                                                                innercontentid="login-sign-in-btn-text"><span
                                                                    class="v-btn__content">
                                                                    Sign
                                                                    in
                                                                    <div
                                                                        data-v-2af282b6
                                                                        id="login-sign-in-btn-text"
                                                                        class="inner-content"></div>
                                                                </span></button></div>
                                                    </div> <!---->
                                                </div>
                                            </form>
                                        </div>
                                        <div data-v-706a46a8
                                            class="v-card__actions"></div>
                                    </div> <!----> <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!----> <!----> <!----> <!----> <!---->
                <!----> <!----> <!----> <!----> <!----> <!---->
                <!----> <!----> <!----> <!----> <!----> <!---->
                <!----> <!----> <!----> <!----> <!----> <!---->
                <!----> <!----> <!----> <!---->

                <div class="van-overlay"
                    style="z-index: 2003; display: none;">
                    <div data-v-7692a079 data-v-42f27458
                        class="Loading c-row c-row-middle-center"
                        style="position: fixed;height: 100vh;width: 100vw;top: 0;left: 0;background: rgba(0,0,0,.6);z-index: 99999;">

                    </div>
                </div>
                <div class="alert-toast"></div>
            </div>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
    function openSupportPage() {
        // Define the URL of the registration page
        var SupportPageURL = '/login';
        // Open the registration page in a new tab
        window.open(SupportPageURL, '_blank');
    }
    </script>
            <script>
        document.addEventListener("DOMContentLoaded", function() {
            var checkbox = document.getElementById("checkbox");
            var isChecked = false;
        
            checkbox.addEventListener("click", function() {
                isChecked = !isChecked;
                checkbox.setAttribute("aria-checked", isChecked);
            });
        });
        </script>
            <script>
            // Function to toggle loading elements visibility
            function toggleLoadingElements() {
                var loadingWrapper = document.querySelector('.ar-loading-view');
                var loadingAnimat = loadingWrapper.querySelector('.loading-animat');
                var comBox = loadingWrapper.querySelector('.com__box');
                var skeletonWrapper = loadingWrapper.querySelector('.skeleton-wrapper');
            
                // Toggle display of loading elements
                loadingAnimat.style.display = 'none';
                comBox.style.display = 'block';
                skeletonWrapper.style.display = 'block';
            }
            
            // Call toggleLoadingElements function to show loading elements
            toggleLoadingElements();
            </script>
            <script>
        let i = 1;
   
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        function getCookie(cname) {let name = cname + "=";
             let decodedCookie = decodeURIComponent(document.cookie);
             let ca = decodedCookie.split(';');
             for (let i = 0; i < ca.length; i++) {
                 let c = ca[i];
                 while (c.charAt(0) == ' ') {
                     c = c.substring(1);
                 }
                 if (c.indexOf(name) == 0) {
                     return c.substring(name.length, c.length);
                 }
             }
             return "";
         }

         function unsetCookie() {
             setCookie('token', '', 0);
             setCookie('auth', '', 0);
         }
     </script>
            <script>
         function setCookie(cname, cvalue, exdays) {
             const d = new Date();
             d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
             let expires = "expires=" + d.toUTCString();
             document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
         }

         function alertMess(text) {
             let length = $('.alert-toast .msg').length;
             if (length == 0) {
                 $('.alert-toast').append(
                     `
                     <div data-v-1dcba851="" class="msg">
                         <div data-v-1dcba851="" class="msg-content" style=""> ${text} </div>
                     </div>
                     `
                 );
                 setTimeout(() => {
                     $('.msg').fadeOut();
                     setTimeout(() => {
                         $('.alert-toast .msg').remove();
                     }, 100);
                 }, 1500);
             }
         }

         function validateForm(username, password, text) {
             if (!username || !password) {
                 alertMess(text);
                 return false;
             } else {
                 return true;
             }
         }

         $('#login-sign-in-btn').click(async (e) => {
             e.preventDefault();
             let username = $('input:eq(1)').val().trim();
             let password = $('input:eq(2)').val().trim();
             let status = validateForm(username, password, 'Please fill in the necessary part.');
             if (status) {
                 $('.van-overlay').fadeIn(10);
                 $.ajax({
                     type: "POST",
                     url: "/api/webapi/login",
                     data: {
                         username: username,
                         pwd: password,
                     },
                     dataType: "json",
                     success: function (response) {
                         if (response.status === true) {
                             $('.van-overlay').fadeOut(300);
                             $('.Loading').fadeIn(10);
                             setCookie('token', response.token, 1);
                             setCookie('auth', response.value, 1);
                             // alertMess(response.message);
                             setTimeout(() => {
                                 location.href = '/home';
                             }, 500);
                         } else {
                             $('.van-overlay').fadeOut(300);
                             alertMess(response.message);
                         }
                     }
                 });
             }

         });
         
     </script>
            <script>
        function toggleLoginMethod(method) {
            document.getElementById('login-email-tab').classList.remove('is-active');
            document.getElementById('login-phone-tab').classList.remove('is-active');
            document.getElementById(`login-${method}-tab`).classList.add('is-active');
    
            document.getElementById('login-email-form').style.display = method === 'email' ? 'block' : 'none';
            document.getElementById('login-phone-form').style.display = method === 'phone' ? 'block' : 'none';
        }
    
        function validatePhoneNumber() {
            const phoneNumber = document.getElementById('login-phone-input-431_phone_number').value;
            const errorElement = document.querySelector('.error-phone');
            const phonePattern = /^[0-9]{10}$/; // Simple validation for demonstration
    
            if (!phonePattern.test(phoneNumber)) {
                errorElement.style.display = 'block';
            } else {
                errorElement.style.display = 'none';
            }
        }
    
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('passwordInput');
            const toggleIcon = document.getElementById('password-toggle-icon');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleIcon.classList.remove('mdi-eye-off');
                toggleIcon.classList.add('mdi-eye');
            } else {
                passwordInput.type = 'password';
                toggleIcon.classList.remove('mdi-eye');
                toggleIcon.classList.add('mdi-eye-off');
            }
        }
    
        function toggleCountrySelector() {
            const countryList = document.querySelector('.country-selector__list');
            countryList.style.display = countryList.style.display === 'block' ? 'none' : 'block';
        }
    
        function selectCountry(code, name) {
            const countryInput = document.getElementById('login-phone-input-431_country_selector');
            countryInput.value = `${code} (${name})`;
            toggleCountrySelector(); // Close the dropdown after selection
        }
    
        document.addEventListener('click', function (event) {
            const countryList = document.querySelector('.country-selector__list');
            const countryToggle = document.querySelector('.country-selector__toggle');
    
            if (countryList.style.display === 'block' && !countryToggle.contains(event.target)) {
                countryList.style.display = 'none';
            }
        });
    </script>
    <style>

.msg[data-v-1dcba851] {
    max-width: 12.8rem;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000
}

.msg .msg-content[data-v-1dcba851] {
    position: relative;
    padding: 1.32rem 1.66667rem;
    border-radius: 10px;
    text-align: center;
    line-height: .64rem;
    word-break: break-all;
    overflow: hidden;
    font-size: 0.67333rem;
    color: #fff;
    background-color: rgb(30 30 30 / 80%);

}
    </style>
        </body>

    </html>